{% extends 'bookingApp/base.html' %}
{% block title %} Sign Up {% endblock %}
  
{% load crispy_forms_tags %}

{% block content %}

<div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Change the background</h2>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <button class="btn btn-outline-light" type="button">Example button</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <form method="POST" class="form-group">  
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success">Register</button>
     
      </form>  

      </div>
    </div>

  </div>
  {% endblock %}