body{
    background-color: black;
}
.menu{
    align-items: center; 
    justify-content: center;
}
/**/
.menu_item{
  
    padding-right: 2rem;
}

.car_seaarch_header{
    text-align: center;

}
.my_grid{
    display:flex;
    flex-direction: row;
    gap:1rem;
   
  
}
.car_search_item{
    width: 25%;
    
}
@media (max-width: 800px) {
    .my_grid {
        flex-direction: column;
       

    }
    /* extend the items to 100%*/
    .car_search_item{
        width: 100%;
        }
    }
label{
display: block;
}
input{
width: 100%;
}